@import '~antd/dist/antd.css';
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#root {
  display: flex;
  justify-content: center;
  height: 100vh;
}

#ui {
  margin: 0.5em;
  flex: 1;
}

.controlPanel .wpDetails, .list, .selectedList {
  margin: 0.5em;
  padding: 0.5em;
}

.panelDetails .selectedList {
  padding: 0;
}

.ant-list-item.selected {
  background-color: #e6f7ff;
  border-radius: 4px;
}

.list .ant-list-item {
  cursor: pointer;
}

.colorBox {
  width: 1.9em;
  cursor: default;
  margin-left: 0.5em;
}

.vmiddle {
  vertical-align: middle;
}

#svg-container {
  border: 1px solid #e7e7e7;
  margin: 0.5em;
  flex: 3;
  background-color: white;
  border-radius: 4px;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.selectable.selected.colliding .workplaceBBox {
  fill: url(#grad-workplace-colliding);
}

.selectable.selected .workplaceBBox {
  fill: url(#grad-workplace-selected);
  stroke-width: 1.3;
  stroke-dasharray: 5;
}

#marker-ruler {
  fill: green;
}

.selectable.selected .ruler {
  stroke: green;
  marker-start: url(#marker-ruler);
  marker-end: url(#marker-ruler);
}

.workplaceBBox {
  fill: url(#grad-workplace);
  stroke: black;
  stroke-width: 1;
}

.productionHall {
  stroke: #3F51B5;
  stroke-width: 1px;
  fill: #faebd7;
}

.measureTool .ruler {
  stroke: #3F51B5;
  stroke-width: 1px;
}

.measureTool .distance {
  font-size: 120%;
  text-anchor: end;
  cursor: default;
}

.wpControls {
  margin-top: 0.7em;
  text-align: center;
}

.list {
  max-height: 25vh;
  overflow-y: auto;
}

.selectedList {
  max-height: 60vh;
  overflow-y: auto;
}

.ant-input-number.fetchOne {
  width: 7em;
}

.workplaceTitle {
  cursor: default;
  font-size: 1.1em;
}

.grid {
  fill: none;
  stroke: gray;
  stroke-width: 0.5;
  stroke-dasharray: 1;
}

.fa-icon {
  margin-left: 0.6em;
  cursor: pointer;
  /* color: #009688; */
}

.fa-icon:hover {
  color: #1890ff;
}

.panelWorkplaces .ant-collapse-content-box, .panelDetails .ant-collapse-content-box, .panelProcesses .ant-collapse-content-box, .panelDetails .ant-card-body {
  padding-top: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
}

.panelDetails .ant-collapse-content-box, .panelDetails .ant-card-body {
  padding-bottom: 0;
}

.panelDetails .ant-list-item {
  padding-right: 0.5em;
}

.panelDetails .ant-tabs-tab {
  font-weight: 400;
  padding: 0.5em !important;
}

.panelDetails .ant-card-head {
  cursor: move;
  min-width: 19em;
}

.panelDetails .position {
  color: #aeaeae;
  margin-right: 0.4em;
  font-weight: 400;
}

.panelDetails .close {
  right: 0.4em;
  top: 0.7em;
  position: absolute;
  color: rgba(0, 0, 0, 0.45);
  cursor: pointer;
  padding: 0.3em;
}

.panelDetails .close:hover {
  color: #333;
}

kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2), 0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
  cursor: default;
}

.infoContent {
  max-width: 25em;
}

.filter {
  padding: 0.2em;
}

.listEmpty {
  margin-top: 0.5em;
}

.panelDetails .workplaceImage {
  max-width: 80px;
  margin-bottom: 0.5em;
  max-height: 80px;
}

.ant-btn-group.appSettings {
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.ant-drawer .workplaceSettingToggle span {
  margin-left: 0.5em;
}

.hintDismiss {
  text-align: right;
  margin: 0.2em 0 0 0;
  color: #1890ff;
}

.hintDismiss:hover {
  color: #40a9ff;
}

.hintDismiss span {
  cursor: pointer;
}

.collapseSelected {
  position: absolute;
  left: 20px;
  top: 20px;
}

.collapseSelected.hidden {
  display: none;
}

.panelDrag {
  font-size: 120%;
}

.panelProcesses .list .ant-spin-nested-loading {
  border-bottom: 1px solid #e8e8e8;
}

.panelProcesses .list .ant-spin-nested-loading:last-child {
  border-bottom: none;
}

.operationFlow path {
  stroke: #0642e3;
  stroke-width: 5px;
  stroke-linecap: round;
}

.operationFlow .position {
  font-size: 4em;
  text-anchor: end;
  fill: #0642e3;
}

#connectable-marker-triangle {
  fill: #0642e3;
}

dt {
  margin-bottom: 0.1em;
}

dd {
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

g[data-className="Workplace"] .state {
  stroke-width: 0.7px;
  stroke: #85144b;
}

.ant-tag.wpState {
  color: #001f3f;
  cursor: default;
}